@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-primary-content;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
	}

	body {
		@apply overflow-x-hidden;
	}
}
